<h2>Bem-vindo ao DataTicket!</h2>
<p>Olá, <strong><%= @user.first_name %></strong>.</p>
<p>Sua conta foi criada com sucesso. Use as informações abaixo para acessar o sistema:</p>

<table>
  <tr><th>E-mail</th><td><%= @user.email %></td></tr>
  <% if @temp_password %>
    <tr><th>Senha temporária</th><td><code><%= @temp_password %></code></td></tr>
  <% end %>
</table>

<% if @temp_password %>
  <p>Por segurança, altere sua senha após o primeiro acesso usando a opção <strong>"Esqueci minha senha"</strong> no login.</p>
<% else %>
  <p>Para definir sua senha, acesse o login e clique em <strong>"Esqueci minha senha"</strong>. Informe este e-mail e você receberá um código para criar sua senha.</p>
<% end %>

<a href="<%= @login_url %>" class="btn">Acessar o DataTicket</a>
